---
const nav1 = 'Home';
const nav2 = 'Doc';
const nav3 = 'Emoji';
const nav1url = '/';
const nav2url = 'https://astronot.axcora.com/cms';
const nav3url = 'https://astronot.axcora.com/emoji.html';
---
<header class="wrapper">
	<article>
		<nav class="nav">
			<a href={nav1url} class="link">
			{nav1}
			</a>
			<a href={nav2url} class="link">
			{nav2}
			</a>
			<a href={nav3url} class="link">
			{nav3}
			</a>
		</nav>
	</article>
</header>

